:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 3.2rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    /*font-family: 'Fraunces', serif;*/
    font-family: 'Montserrat', sans-serif;
}

/*Card Styles*/

.product-main {
    width: 100%;
    min-height: 95vh;
    display: grid;
    place-content: center;
    background-color: var(--cream);
}
.product-card-container {
    width: 580px;
    height: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 8px;
}
.product-card--img {
    width: 100%;
    height: auto;
    background-image: url('../images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px 0 0 8px;
}
.product-card--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px;
    background-color: var(--white);
    border-radius: 0 12px 12px 0;
}

/*Info styles*/

.product-card--info p {
    font-size: var(--sm);
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-grayish-blue);
    padding-bottom: 20px;
}
.product-card--info .product--type {
    letter-spacing: 0.4rem;
}
.product-card--info h1 {
    font-family: 'Fraunces', serif;
    font-size: var(--lg);
    line-height: 3.2rem;
    color: var(--very-dark-blue);
    padding-bottom: 20px;
}
.product-price-container {
    display: flex;
    gap: 20px;
}
.product-price-container .product-price--discount {
    font-family: 'Fraunces', serif;
    font-size: var(--lg);
    line-height: 3.2rem;
    color: var(--dark-cyan);
}
.product-price-container .product-price--real {
    place-self: center;
    text-decoration: line-through;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }